

.box-content {
  padding: 1em;
  text-align: justify;
  border: 1px solid #fbcf0e;
  border-top: 0;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.box-content p{
  color:  #122239;
}
.well {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 0;
  text-align: center;
  color: #122239;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fbcf0e;
}

.row + .row {
  margin: 1em;
}
.box-content >ul> li> strong{
  background-color: #122239;
  color: white;
  font-size: 1.2em;
  width:inherit;
  padding: 0.2em;
  border-radius: 0.5em;
}
.table-hover > tbody > tr:hover {
    background-color: #122239;
    color: #fbcf0e;
}