.media-left {
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}


/*#owl-example .item {
    margin: 3px;
}

#owl-example .item img {
    display: block;
    width: 100%;
    height: auto;
}*/

.owl-item img {
    margin-right: 2em;
}

.owl-item p {
    text-align: justify;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background-color: #fff;
    z-index: 99999;
    text-align: center;
}

#loading-image {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
