.media-left {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}



.box-content {
  min-height: 19em;
  padding: 1em;
  text-align: justify;
  border: 1px solid #fbcf0e;
  border-top: 0;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.well {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 0;
  text-align: center;
  color: #122239;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fbcf0e;
}

.row + .row {
  margin-top: 1em;
}
