body {
  margin-top:100px;
}
.navbar-xs { min-height:80px; height: 80px; }
.navbar-xs .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 80px; }
.navbar-xs .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 80px; }
.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 80px;
    line-height: 80px;
}
.navbar {min-height:80px !important;}
.navbar,footer{
  background: #122239;
}
footer {
  margin-top:10px;
}
footer p,footer h2 {
  color:white;
}
address a {
  color: #48cfad;
}
.about p {
  color : #122239;
  background: #49A5FF;
  padding: 5px;
  /*border: 2px solid #FBCF0E ;*/
  border-radius : 5px;
}
.espa {
  margin: 20px 0 10px 0;
  text-align: center;
}
img {
  max-width:100%;
max-height:100%;

}
.media-left{
  height : 256px;
}
.desaturate{
  -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
}